@model int;
@{
	ViewData["Title"] = "Home";
	Layout = "_Layout2";
}
<style>
	.col-md-3{
		border-style:solid;
		border-width: 1px 1px 4px 1px;
		border-color:gray;
		border-radius: 10%;
		margin: 25px;
	}
</style>
<h1>Admin Home</h1>
<div class="row">
	<div class="col-md-3" style="border-bottom-color: violet">
		<h3>Earnings</h3>
		<p>100$</p>
	</div>
	<div class="col-md-3" style="border-bottom-color: aqua">
		<h3>Products</h3>
		<p>@Model</p>
	</div>
	<div class="col-md-3" style="border-bottom-color: orange">
		<h3>Oders</h3>
		<p>100</p>
	</div>
</div>
<div>

</div>