@model BookStore.Models.Profile
@{
    ViewData["Title"] = "Update Profile";
    var defaultAva = "images/avatar/default.jpg";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="EditProfile" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label asp-for="Avatar" class="control-label"></label>
            <input asp-for="Avatar" type="file" accept="image/*" onchange="loadFile(event)" class="form-control" />
            <div id="preview-container"> <img id="preview" src="/@(Model?.Avatar??defaultAva)" /></div>
        </div>
        <div>
            <label asp-for="Rank" class="control-label"></label>
            <select disabled class="form-control" name="Rank">
                @{
                    List<Rank> ranks = new List<Rank>();
                    ranks = ViewBag.Ranks;
                }
                @foreach (var rank in ranks)
                {
                    <option value="@rank.Id">@rank.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label">Address</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>

<style>
    /* input[type=file] {
        width: 0px;
        height: 0px;
        overflow: hidden;
    } */
    #preview-container {
        height: 100px;
    }
    #preview {
        cursor: pointer;
        max-height: 100%;
        border: 1px solid gray;
        max-width: 100%;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            var rank = @Model.Rank.Id ;
            $('select[name="Rank"] option[value="' + rank + '"]').prop('selected', true);
        });

        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('preview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        $(function() {
            $("#preview").on('click', function(){
                $("#Avatar").trigger('click');
            })

            $("#Phone").inputmask("099-9999-999");
        })
    </script>
}
