@model BookStore.Models.Book

@{
    ViewData["Title"] = "Edit";
    var defaultAva = "images/product/default.jpg";
}

<h1>Edit</h1>
<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group mb-3">
                <label asp-for="imgFile" class="control-label"></label>
                <input asp-for="imgFile" type="file" accept="image/*" onchange="loadFile(event)" />
                <div id="preview-container"><img id="preview" src="/@(Model?.ImgURL??defaultAva)" /></div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <div class="row">
                    @{
                        List<Genre> genres = ViewBag.Genres;
                    }
                    @foreach (var genre in genres)
                    {
                        <div class="col-md-3">
                            <input value="@genre.Id" name="selectedgenres" type="checkbox"
                            @Html.Raw(Model?.Genres!=null&&Model.Genres.Any(x=>x.Id==genre.Id)?"checked=\"checked\"":"") />
                            @genre.Name
                        </div>
                    }
                </div>
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" type="text" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Author">
                    <option>Select an Author</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publisher">
                    <option>Select a Publisher</option>
                </select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicDate" class="control-label"></label>
                <input asp-for="PublicDate" class="form-control" />
                <span asp-validation-for="PublicDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        $(function () {
            $("#preview").on('click', function () {
                $("#Avatar").trigger('click');
            })

            $("#Phone").inputmask("099-9999-999");
        })
    </script>
}
